<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.EngineMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.Engine" >
    <id column="engno" property="engno" jdbcType="INTEGER" />
    <result column="cvdnumber" property="cvdnumber" jdbcType="VARCHAR" />
    <result column="engname" property="engname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    engno, cvdnumber, engname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from engine
    where engno = #{engno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from engine
    where engno = #{engno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.Engine" >
    insert into engine (engno, cvdnumber, engname
      )
    values (#{engno,jdbcType=INTEGER}, #{cvdnumber,jdbcType=VARCHAR}, #{engname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.Engine" >
    insert into engine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="engno != null" >
        engno,
      </if>
      <if test="cvdnumber != null" >
        cvdnumber,
      </if>
      <if test="engname != null" >
        engname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="engno != null" >
        #{engno,jdbcType=INTEGER},
      </if>
      <if test="cvdnumber != null" >
        #{cvdnumber,jdbcType=VARCHAR},
      </if>
      <if test="engname != null" >
        #{engname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.Engine" >
    update engine
    <set >
      <if test="cvdnumber != null" >
        cvdnumber = #{cvdnumber,jdbcType=VARCHAR},
      </if>
      <if test="engname != null" >
        engname = #{engname,jdbcType=VARCHAR},
      </if>
    </set>
    where engno = #{engno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.Engine" >
    update engine
    set cvdnumber = #{cvdnumber,jdbcType=VARCHAR},
      engname = #{engname,jdbcType=VARCHAR}
    where engno = #{engno,jdbcType=INTEGER}
  </update>
</mapper>