<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.User" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="stano" property="stano" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="userrole" property="userrole" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    username, stano, userpwd, userrole
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.User" >
    insert into user (username, stano, userpwd, 
      userrole)
    values (#{username,jdbcType=VARCHAR}, #{stano,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, 
      #{userrole,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="stano != null" >
        stano,
      </if>
      <if test="userpwd != null" >
        userpwd,
      </if>
      <if test="userrole != null" >
        userrole,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="stano != null" >
        #{stano,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null" >
        #{userrole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.User" >
    update user
    <set >
      <if test="stano != null" >
        stano = #{stano,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        userpwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null" >
        userrole = #{userrole,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.User" >
    update user
    set stano = #{stano,jdbcType=VARCHAR},
      userpwd = #{userpwd,jdbcType=VARCHAR},
      userrole = #{userrole,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>